<h1 mat-dialog-title class="text-primary dialog">
  请双击组织所在行，选择您的默认组织
</h1>
<div mat-dialog-content>
  <table mat-table [dataSource]="participatedGroups" class="mat-elevation-z2">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>组织名称</th>
      <td mat-cell *matCellDef="let group">{{ group.name }}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>编号</th>
      <td mat-cell *matCellDef="let group">{{ group.id }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>创建时间</th>
      <td mat-cell *matCellDef="let group">{{ group.createdAt | date:'medium' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="participatedGroupsColumnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: participatedGroupsColumnsToDisplay"
      (dblclick)="handleChooseGroup(row)"
      class="row"
      [class.current]="row.id == currentGroup?.id"
    ></tr>
  </table>
</div>
<!-- <div mat-dialog-actions class="actions">
  <button mat-button (click)="handleConfirm()" color="primary">确认</button>
  <button mat-button (click)="handlleCancel()" cdkFocusInitial>取消</button>
</div> -->
