@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink);

.dialog {
  min-width: 400px;
}

table {
  width: 100%;
}

.row:hover {
  cursor: pointer;
}

.current {
  background-color: mat-color($accent, 0.1);
}
