<form [formGroup]="changePasswordForm" class="form" (submit)="handleSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="form-title">
        <h2 class="mat-h2">修改密码</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="fs-large">
      <mat-error>{{ errorMessage }}</mat-error>
      <mat-form-field class="w-100">
        <mat-label>旧密码</mat-label>
        <mat-icon matSuffix>lock</mat-icon>
        <input matInput type="password" placeholder="Old Password" formControlName="old_password" />
        <mat-error *ngIf="oldPasswordControl.hasError('required')">
          请填写旧密码
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>新密码</mat-label>
        <mat-icon matSuffix>lock</mat-icon>
        <input matInput type="password" placeholder="New Password" formControlName="new_password" />
        <!-- <mat-hint>密码长度为6至25个字符，只能使用字母数字和下划线</mat-hint> -->
        <mat-error *ngIf="newPasswordControl.hasError('required')">
          请填写新密码
        </mat-error>
        <mat-error *ngIf="newPasswordControl.hasError('pattern')">
          密码长度为6至25个字符，只能使用字母数字和下划线
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>确认新密码</mat-label>
        <mat-icon matSuffix>lock</mat-icon>
        <input matInput type="password" placeholder="Confirm New Password" formControlName="confirm_password" />
        <mat-hint>请再次输入新密码</mat-hint>
      </mat-form-field>
      <mat-error *ngIf="shouldShowConfirmPasswordError">
        密码不一致
      </mat-error>
    </mat-card-content>
    <mat-card-actions class="fs-large">
      <button mat-raised-button color="primary" type="submit" class="w-100">
        提交
      </button>
    </mat-card-actions>
  </mat-card>
</form>
