<h1 mat-dialog-title>Todo</h1>
<div mat-dialog-content>
  <form [formGroup]="todoForm" class="form">
    <mat-form-field class="w-100">
      <mat-label>标题</mat-label>
      <mat-icon matSuffix *ngIf="!titleControl.pending">bubble_chart</mat-icon>
      <i matSuffix *ngIf="titleControl.pending" class="fa fa-spinner fa-spin"></i>
      <input matInput placeholder="事项标题" formControlName="title" />
      <mat-error *ngIf="titleControl.hasError('required')">
        请填写标题
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>描述</mat-label>
      <mat-icon matSuffix>create</mat-icon>
      <textarea
        matInput
        placeholder="描述"
        formControlName="description"
        cdkTextareaAutosize
      ></textarea>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>开始时间</mat-label>
      <input matInput type="datetime-local" formControlName="createdAt">
    </mat-form-field>
    <mat-form-field>
      <mat-label>计划结束时间</mat-label>
      <input matInput type="datetime-local" formControlName="planToFinishAt">
    </mat-form-field> -->
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="handleSubmit()">
    提交
  </button>
  <button mat-raised-button (click)="handleCancel()">
    取消
  </button>
</div>
