.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.col {
  margin-right: 10px;
}

.col:last-child {
  margin-right: 0;
  margin-left: auto;
}

.icon {
  margin-right: 5px;
}

.navbar-button {
  font-size: inherit;
}

.content-container {
  margin: 30px;
  max-width: 900px;
}
