<mat-card [ngClass]="containerClasses">
  <mat-card-header>
    <mat-card-title>{{ todo.title }}</mat-card-title>
    <button
      *ngIf="isParent"
      mat-raised-button
      color="primary"
      (click)="openTodoForm()"
    >
      添加步骤
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>{{ todo.description }}</p>
    <ng-container *ngIf="todo.children?.length > 0">
      步骤：
    </ng-container>
    <ng-container *ngFor="let child of todo.children">
      <app-todo-card [todo]="child" [isParent]="false"></app-todo-card>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="warn" (click)="deleteOne()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer>
    创建时间：{{ todo.createdAt | date: 'medium' }}
  </mat-card-footer>
</mat-card>
