@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);
// $accent: mat-palette($mat-pink);

.parent-card {
  margin-bottom: 10px;
  // border: 1px solid mat-color($primary);
  background: mat-color($primary, 0.1);

  .title {
    font-size: xx-large;
  }

  .description {
    font-size: large;
  }

  .todo-footer {
    padding-left: 15px;
    padding-bottom: 15px;
  }
}
