<mat-card class="child-card">
  <mat-card-header>
    <mat-card-title>
      <mat-checkbox
        class="title"
        [class.text-finished]="todo.isFinished"
        [checked]="todo.isFinished"
        (change)="handleFinishStatusChange($event)"
      >
        {{ todo.title }}
      </mat-checkbox>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="description">{{ todo.description }}</p>
  </mat-card-content>
  <mat-card-actions class="row">
    <button mat-button color="primary" (click)="updateOne()">
      <mat-icon>edit</mat-icon>编辑
    </button>
    <button mat-button color="warn" (click)="deleteOne()">
      <mat-icon>delete</mat-icon>删除
    </button>
  </mat-card-actions>
  <mat-card-footer class="todo-footer">
    创建时间：{{ todo.createdAt | date: 'medium' }}
  </mat-card-footer>
</mat-card>
